<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- prerequisite: Bootstrap 5.1.3 -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <script src="/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="/leaflet-draw/leaflet.draw.css" />
    <script src="/leaflet-draw/leaflet.draw.js"></script>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>

    <script defer src="/javascripts/createTest.js"></script>
    <!-- <script defer src="/javascripts/createTest.js"></script> mit createTest bekommt man die Karte, um Routen zu
    berechnen-->
    
  </head>
  <body>
    <%- include('navbar') -%>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">

    <div>
      <h1><%= title %></h1>
      <div id="map"></div>
    </div>

    


  </body>
  
</html>
