<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- prerequisite: Bootstrap 5.1.3 -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/leaflet/leaflet.css" />
    <script src="/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="/leaflet-draw/leaflet.draw.css" />
    <script src="/leaflet-draw/leaflet.draw.js"></script>

    <script defer src="/javascripts/create.js"></script>
  </head>
  <body>
    <%- include('navbar') -%>
    <div class="container">
      <h1><%= title %></h1>
      <div id="map"></div>
    </div>


  </body>
</html>
