<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- prerequisite: Bootstrap 5.1.3 -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    
  </head>
  <body onload="main()">
    <%- include('navbar') -%>
    <div class="container">

      <h1><%= title %></h1>

<p>Anbieter:<br />Derya Sen und Maike Schröder<br  />Münster</p>
<p>Kontakt:<br />E-Mail: dsen@uni-muenster.de<br />m_schr89@uni-muenster.de<br</p>
</html>