<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- prerequisite: Bootstrap 5.1.3 -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%
    /*
    das hier ist EJS, es ist eine Template engine (wie auch pug) welche erlaubt, mit hilfe von JS-
    Syntax die Seiteninhalte dynamisch zu gestalten.
    Die Syntax ist idr. die Gleiche wie HTML, nur wenn eine JS-expression ausgeführt wird, wird diese
    mit den escape-charactern < % und % > ausgeklammert. Wenn Ihr mit PHP erfahrung habt, könnt Ihr
    EJS als einen analog dazu betrachten.
    mehr unter: https://ejs.co/#install
    Wenn ihr eine express projekt mit ejs aufsetzen wollt, kann das z.b. über "express --ejs" getan werden (http://expressjs.com/en/starter/generator.html).
    In der folgenden Zeile z.B. wird die navbar included, welche unter navbar.ejs definiert wird.
    Das verhindert unnötige wiederholungen.
    */
    %>
    <%- include('navbar') -%>
    <input type="hidden" id="markerID" value="<%- gebirgeId %>">
    <div class="container">
      <h1><%= title %></h1>
    </div>
    <br>
    <div class="a" align="center"></div>
    <h3>Kartenbasierte, interaktive Webanwendung zum Hinzufügen und zur Suche von Gebirgen in Europa</h3>
    <br>
    <br>
    <p>Auf dieser Website ist es möglich, Gebirge auf der Europakarte mit näheren Informationen einzutragen, in einer Datenbank zu speichern und wieder zu löschen. </p>
    <p>Es können außerdem Routen zwischen zwei Punkten berechnet und auf der Karte dargestellt werden.</p>
    <br>
    <h5>Interessante Fakten zu Gebirgen in Europa:</h5>
    <br>
    <div id="biggestMountain">
      <h6>Welcher ist der höchste Berg in Europa?</h6>
      <button type="button" onclick="showBiggest()">Show Me!</button>
     </div>
<br>
     <div id="secondBiggestMountain">
      <h6>Welcher ist der zweithöchste Berg in Europa?</h6>
      <button type="button" onclick="showSecondBiggest()">Show Me!</button>
     </div>
  </body>
</html>
